.phone-directory-container {
    margin: 25px auto;
    padding: 0 25px;
    max-width: 600px;

    .buttons-container {
        padding: 25px 0;
        display: flex;
        justify-content: flex-start;
    }
}
  
  

  